<div class="row" ng-controller="accountCtrl">
	<div class="col-sm-12">
		<div class="col-lg-6 col-lg-offset-3">
	        <div class="block block-themed bs">
                <div class="block-header bg-success">
                    <h3 class="block-title">修改密码</h3>
                </div>
                <div class="block-content">
                    <form class="form-horizontal push-5-t"onsubmit="return false;">
                        <div class="form-group">
                            <label class="col-xs-12" for="register1-username">老密码</label>
                            <div class="col-xs-12">
                                <input type="password" class="form-control" type="text" ng-model="old_pass">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="register1-email">新密码</label>
                            <div class="col-xs-12">
                                <input type="password" class="form-control" type="email" ng-model="new_pass">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12" for="register1-password">重复密码</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="password" ng-model="repeat_pass">
                            </div>
                        </div>
                        <div class="text-right push-10">
                        	<button ng-click="checkPass()" class="btn btn-sm btn-primary">修改</button>
                        </div>
                    </form>
                </div>
            </div>
		</div>
	</div>
</div>
