<div class="row">
	<div class="col-sm-12">
		<div class="clearfix push-10">
			<!-- <label class="css-input switch switch-sm switch-primary pull-left push-5">
		        只看自己<input type="checkbox" checked="checked"><span></span>
		    </label> -->
		    <!-- <div class="pull-left push-10-l rel">
		    	<input placeholder="姓名/电话" ng-model="searchstr" class="form-control input-sm" type="text" search-users-real-time>
		    	<ul class="search-result">
		    		<li ng-repeat='r in results' data-value="{{r.name}}" data-id="{{ r.user_id }}" sure-search-result>
		    			{{ r.name }}
		    		</li>
		    	</ul>
		    </div> -->
	    </div>
		<table class="table table-bordered table-striped js-dataTable-full dataTable no-footer">
			<thead class="bg-gray-light">
				<th>序号</th>
				<th>公司</th>
				<th>姓名</th>
				<th>电话</th>
				<th>跟进客服</th>
				<th>跟进会计</th>
				<th>受理状态</th>
				<th>服务状态</th>
				<!-- <th>税务详情</th> -->
				<th>起始日期</th>
				<th>服务期限</th>
			</thead>
			<tbody>
				<tr ng-repeat="u in accounting">
					<td>{{ $index+1 }}</td>
					<td>{{ u.company }}</td>
					<td>{{ u.name }}</td>
					<td>{{ u.phone }}</td>
					<td>{{ u.server }}</td>
					<td>{{ u.accounting }}</td>
					<td>
                        <label class="css-input css-radio css-radio-success m0" ng-switch="u.status">
                        	<span ng-switch-when="0">
	                            <input type="radio" ng-click="updateStatus(u.accounting_id)"><span></span>
	                            未受理
                            </span>
                            <span ng-switch-when="1">已受理</span>
                        </label>
					</td>
					<td ng-model="today">
						<span ng-if="today<u.deadline">正常</span>
						<span ng-if="today>u.deadline">欠费</span>
					</td>
					<!-- <td>
						<a ng-click="" data-toggle="modal" data-target="#add-new-tax">8月份已录入</a>
					</td> -->
					<td>{{ u.deadline }}</td>
					<td>{{ u.create_time }}</td>
				</tr>
			</tbody>
		</table>

		<div class="dataTables_paginate paging_simple_numbers">
			<ul class="pagination pull-right">
				<li class="paginate_button" ng-repeat="p in pagination" ng-repeat="current">
					<a href="javascript:;" ng-class="{true: 'active', false: 'nothing'}[current==p]" data-current="{{p}}" ng-click="getPage($event.target)">{{ p }}</a>
				</li>
			</ul>
		</div>
		
	</div>
	<!-- 录入税务信息 begin -->
	<div class="modal in" id="add-new-tax" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-mx">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">添加税务信息</h3>
	                </div>
	                <div class="block-content">
	                	<form class="form-horizontal" onsubmit="return false;">
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">负责人</label>
	                            <div class="col-lg-7">
	                                <select class="form-control" request-accounting ng-model="server">
	                                	<option ng-repeat="e in accountings" value="{{e.id}}">{{e.name}}</option>
	                                </select>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="checkBusiness($event.target)" class="btn btn-sm btn-primary" type="button"><i class="fa fa-check"></i>添加</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 录入税务信息 end   -->
</div>