<div class="row">
	<div class="col-sm-12">
		<div class="clearfix push-10">
			<label class="css-input switch switch-sm switch-primary pull-left push-5">
		        只看自己<input type="checkbox" checked="checked"><span></span>
		    </label>
		    <!-- <div class="pull-left push-10-l rel">
		    	<input placeholder="姓名/电话" ng-model="searchstr" class="form-control input-sm" type="text" search-users-real-time>
		    	<ul class="search-result">
		    		<li ng-repeat='r in results' data-value="{{r.name}}" data-id="{{ r.user_id }}" sure-search-result>
		    			{{ r.name }}
		    		</li>
		    	</ul>
		    </div> -->
		    <!-- <a class="pull-right btn btn-minw btn-square btn-info" data-toggle="modal" data-target="#add-new-task">新建任务</a> -->
	    </div>
		<table class="table table-bordered table-striped js-dataTable-full dataTable no-footer">
			<thead class="bg-gray-light">
				<th>序号</th>
				<th>公司</th>
				<th>姓名</th>
				<th>电话</th>
				<th>业务名称</th>
				<th>跟进客服</th>
				<th>跟进会计</th>
				<th>受理状态</th>
				<th>应收款</th>
				<th>已收款</th>
				<th>进度</th>
				<th>申请时间</th>
			</thead>
			<tbody>
				<tr ng-repeat="u in business">
					<td>{{ $index+1 }}</td>
					<td>{{ u.company }}</td>
					<td>{{ u.name }}</td>
					<td>{{ u.phone }}</td>
					<td>{{ u.pg_name }}</td>
					<td>{{ u.server }}</td>
					<td>{{ u.accounting }}</td>
					<td>
                        <label class="css-input css-radio css-radio-success m0" ng-switch="u.status">
                        	<span ng-switch-when="0">
	                            <input type="radio" ng-click="updateStatus(u.business_id)"><span></span>
	                            未受理
                            </span>
                            <span ng-switch-when="1">已受理</span>
                        </label>
					</td>
					<td>
						{{ u.should_fee }}
					</td>
					<td>
						{{ u.have_fee }}
					</td>
					<td>
						<span ng-if="u.p_name == null">
							<a ng-click="requestProgress(u.business_id,u.process_group_id)" data-toggle="modal" data-target="#edit-business-progress">添加进度</a>
						</span>
						<a ng-click="requestProgress(u.business_id,u.process_group_id)" data-toggle="modal" data-target="#edit-business-progress">{{ u.p_name }}</a>
					</td>
					<td>{{ u.create_time }}</td>
				</tr>
			</tbody>
		</table>

		<div class="dataTables_paginate paging_simple_numbers">
			<ul class="pagination pull-right">
				<li class="paginate_button" ng-repeat="p in pagination" ng-repeat="current">
					<a href="javascript:;" ng-class="{true: 'active', false: 'nothing'}[current==p]" data-current="{{p}}" ng-click="getPage($event.target)">{{ p }}</a>
				</li>
			</ul>
		</div>
		
	</div>

	<!-- 编辑进度 begin -->
	<div class="modal in" id="edit-business-progress" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">编辑进度</h3>
	                </div>
	                <div class="block-content">
	                	<ul class="list list-timeline pull-t">
	                		<li ng-repeat="p in progress" class="clearfix">
	                            <div class="list-timeline-time">{{ p.create_time }}</div>
	                            <i class=" list-timeline-icon bg-default">{{ $index+1 }}</i>
	                            <div class="list-timeline-content">
	                                <p class="font-w600">{{ p.name }}</p>
	                                <p class="font-s13">{{ p.note }}</p>
	                                <p>{{ p.date_end }}</p>
	                            </div>
	                            <button ng-click="deleteProgress($event.target,p.progress_id,p.business_id)" class="pull-right btn btn-sm btn-default">删除</button>
	                        </li>
	                	</ul>
	                	<div class="push-10">
	                		<div class="push-10 row">
	                			<div class="col-lg-5">
			                		<label class="pull-left">进度</label>
			                		<select class="form-control" ng-model="process_id">
			                			<option ng-repeat="p in process" value="{{ p.process_id }}">{{ p.name }}</option>
			                		</select>
		                		</div>
		                		<div class="col-lg-5">
			                		<label>完成日期</label>
			                		<input id="finish_date_end" type="text" ng-model="date_end" class="form-control" onclick="laydate({istime: true, format:'YYYY-MM-DD'})"/>
		                		</div>
	                		</div>
	                		<textarea ng-model="note" class="form-control" placeholder="备注"></textarea>
	                	</div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
	                <button ng-click="addProgress($event.target)" class="btn btn-sm btn-primary"><i class="fa fa-check"></i>添加</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 编辑进度 end -->
</div>
