<div class="pull-left push-10-l rel call-date-control">
	<input type="text" class="form-control input-sm" oninput="haha(this.value)" placeholder="日期" />
	<div class="date-select">
		<div class="date-year">
			<ul>
				<li ng-click="initYear($event.target)">2014</li>
				<li ng-click="initYear($event.target)" class="active">2015</li>
				<li ng-click="initYear($event.target)">2016</li>
			</ul>
		</div>
		<div class="date-month">
			<ul>
				<li><a>1</a></li>
				<li><a>2</a></li>
				<li><a>3</a></li>
				<li><a>4</a></li>
				<li><a>5</a></li>
				<li><a>6</a></li>
				<li><a>7</a></li>
				<li><a>8</a></li>
				<li><a>9</a></li>
				<li><a>10</a></li>
				<li><a>11</a></li>
				<li><a>12</a></li>
			</ul>
		</div>
	</div>
</div>