<div class="row">
	<aside id="zside-overlay">
        <div id="side-overlay-scroll">
            <div class="side-header side-content">
                <button ng-click="closewin()" class="btn btn-default pull-right" type="button" data-toggle="layout" data-action="side_overlay_close">
                    <i class="fa fa-times"></i>
                </button>
                <span>
                    <span class="font-w600 push-10-l">{{intro}}</span>
                    <span>{{ log_guest_id }}</span>
                </span>
            </div>
            <div class="side-content remove-padding-t">
                <div class="block pull-r-l">
                    <div class="block-header bg-gray-lighter">
                    </div>
                    <div class="block-content z-content">
                    	
                    </div>
                </div>
            </div>
            <div class="toolbar">
            	<button data-permission="payrecord/save" class="btn btn-default" data-toggle="modal" data-target="#add-record">添加</button>
            </div>
        </div>
    </aside>
	<div class="col-sm-12">
		<div class="clearfix push-10">
			<!-- 
		    <a class="pull-right btn btn-minw btn-square btn-info" data-toggle="modal" data-target="#add-new-pay">新建缴费记录</a> -->
		    <div class="pull-left">
		    	<input class="form-control" ng-keyup="selectCom($event.target,$event)" placeholder="公司/电话/姓名">
		    </div>
		    <div class="pull-left push-5-l">
		    	<select class="form-control" ng-model="owe" ng-init="owe=0" ng-change="selectOwe()">
		    		<option value="0">欠费</option>
		    		<option value="1">正常</option>
		    	</select>
		    </div>
		    <div class="pull-left remove-padding-l push-10-l rel call-date-control col-lg-2">
				<div class="input-group">
                    <input class="form-control" type="text" placeholder="日期" ng-model="whole"/>
                    <span class="input-group-btn">
                        <button ng-click="clearDate()" class="btn btn-default" type="button"><i class="fa fa-close"></i></button>
                    </span>
                </div>
				<div class="date-select">
					<div class="date-year">
						<ul>
							<li ng-click="initYear($event.target)">2014</li>
							<li ng-click="initYear($event.target)">2015</li>
							<li ng-click="initYear($event.target)">2016</li>
						</ul>
					</div>
					<div class="date-month">
						<ul>
							<li><a ng-click="initMonth($event.target)">1</a></li>
							<li><a ng-click="initMonth($event.target)">2</a></li>
							<li><a ng-click="initMonth($event.target)">3</a></li>
							<li><a ng-click="initMonth($event.target)">4</a></li>
							<li><a ng-click="initMonth($event.target)">5</a></li>
							<li><a ng-click="initMonth($event.target)">6</a></li>
							<li><a ng-click="initMonth($event.target)">7</a></li>
							<li><a ng-click="initMonth($event.target)">8</a></li>
							<li><a ng-click="initMonth($event.target)">9</a></li>
							<li><a ng-click="initMonth($event.target)">10</a></li>
							<li><a ng-click="initMonth($event.target)">11</a></li>
							<li><a ng-click="initMonth($event.target)">12</a></li>
						</ul>
					</div>
				</div>
			</div>
		    <div ng-if="level>1" class="pull-left push-10-l input-xm">
		    	<a ng-click="loadTree()" data-toggle="modal" data-target="#show-tree">
		    		<input type="text" class="form-control" placeholder="部门" ng-model="select_department"/>
		    	</a>
		    </div>
	    </div>
		<table class="table table-bordered table-striped js-dataTable-full dataTable no-footer">
			<thead class="bg-gray-light">
				<th>公司</th>
				<th>姓名</th>
				<th>电话</th>
				<th>跟进客服</th>
				<th>跟进会计</th>
				<th>服务状态</th>
				<th>15天后</th>
				<th>缴费金额</th>
				<th>缴费日期</th>
				<th>服务期限</th>
			</thead>
			<tbody>
				<tr ng-repeat="u in payrecord">
					<td>
						<a ng-click="initRight(u)">{{ u.company }}</a>
					</td>
					<td>{{ u.name }}</td>
					<td>{{ u.phone }}</td>
					<td>{{ u.server }}</td>
					<td>{{ u.accounting }}</td>
					<td>
						<span ng-if="today>=u.deadline"><code>欠费</code></span>
						<span ng-if="today<u.deadline">正常</span>
					</td>
					<td>
						<span ng-if="today15after>=u.deadline"><code>欠费</code></span>
						<span ng-if="today15after<u.deadline">正常</span>
					</td>
					<td>
                        {{ u.money }}
					</td>
					<td>
						<a ng-click="getList(u)" data-toggle="modal" data-target="#record-list">{{ u.create_time }}</a>
					</td>
					<td>{{ u.deadline }}</td>
				</tr>
			</tbody>
		</table>

		<div class="dataTables_paginate paging_simple_numbers">
			<ul class="pagination pull-right">
				<li class="paginate_button" ng-repeat="p in pagination" ng-repeat="current">
					<a href="javascript:;" ng-class="{true: 'active', false: 'nothing'}[current==p]" data-current="{{p}}" ng-click="getPage($event.target)">{{ p }}</a>
				</li>
			</ul>
		</div>
		
	</div>
	
    <!-- 详细记录 begin -->
	<div class="modal in" id="record-list" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">详细记录</h3>
	                </div>
	                <div class="block-content">
	                	<ul class="list list-activity">
							<li ng-repeat="r in recordlist" class="record-list">
					            <div class="font-w600">
					            	{{ r.company }}
					            	<i class="fa fa-times push-2-t cursor" ng-click="delete(r.pay_record_id,$event.target)"></i>
					            <i data-toggle="modal" data-target="#edit-record" class="fa fa-pencil push-2-t cursor" ng-click="vanEdit(r,$event.target)"></i>
					            </div>
					            <div><a href="javascript:void(0)">{{ r.money }}￥</a></div>
					            <div><small class="text-muted">{{ r.create_time }}~{{ r.deadline }}</small></div>
					        </li>
					    </ul>
	                </div>
	            </div>
	            <!-- <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="add($event.target)" class="btn btn-sm btn-primary" type="button">添加</button>
	            </div> -->
	        </div>
	    </div>
	</div>
	<!-- 详细记录 end   -->

	<!-- 添加记录 begin -->
	<div class="modal in" id="add-record" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">添加缴费记录</h3>
	                </div>
	                <div class="block-content">
	                	<div class="form-group">
	                		<label>金额</label>
	                		<input class="form-control" ng-model="add_money"/>
	                	</div>
	                	<div class="form-group">
	                		<label>服务期限</label>
	                		<input id="record-deadline" class="form-control" ng-model="add_deadline" onclick="laydate()"/>
	                	</div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="add($event.target)" class="btn btn-sm btn-primary" type="button">添加</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 添加缴费记录 end   -->

	<!-- 编辑一个记录 begin -->
	<div class="modal in" id="edit-record" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">编辑记录</h3>
	                </div>
	                <div class="block-content">
	                	<div class="form-group">
	                		<label>金额</label>
	                		<input class="form-control" ng-model="edit_money"/>
	                	</div>
	                	<div class="form-group">
	                		<label>服务期限</label>
	                		<input id="edit_record-deadline" class="form-control" ng-model="edit_deadline" onclick="laydate()"/>
	                	</div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="edit($event.target)" class="btn btn-sm btn-primary" type="button">更新</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 编辑一个记录 end   -->

	<!-- 员工菜单 begin -->
    <div class="modal in" id="show-tree" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">请选择</h3>
	                </div>
	                <div class="block-content clearfix">
	                	<div id="tree-show" class="pull-left menu-tree">
						</div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="reload($event.target)" class="btn btn-sm btn-primary" type="button">确定</button>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- 员工菜单 end   -->
</div>