<div class="row">
	<div class="col-sm-12">
		<div class="clearfix push-10">
		    <style type="text/css">
			    #task-ul .active{
			    	background-color: #efefef;
			    }
		    </style>
		    <div class="pull-left push-10-l rel">
		    	<input placeholder="任务内容" ng-keyup="selectContent($event.target,$event)" class="form-control input-sm" type="text">
		    	<ul class="search-result" id="active-ul">
		    		<li ng-repeat='r in taskresults' data-id="{{ r.todo_id }}" sure-search-result-todo>
		    			{{ r.task_content }}
		    		</li>
		    	</ul>
		    </div>
		    <a class="pull-right btn btn-minw btn-square btn-info" data-toggle="modal" data-target="#add-task-dialog">新建todo</a>
	    </div>
		<table class="table table-bordered table-striped js-dataTable-full dataTable no-footer">
			<thead class="bg-gray-light">
				<th>序号</th>
				<th>指派人</th>
				<th>任务内容</th>
				<th>接收人</th>
				<th>起始日期</th>
				<th>截至日期</th>
				<th>操作</th>
			</thead>
			<tbody>
				<tr ng-repeat="u in todos">
					<td>{{ $index+1 }}</td>
					<td>{{ u.sender }}</td>
					<td>{{ u.task_content }}</td>
					<td>{{ u.accepter }}</td>
					<td>{{ u.date_start }}</td>
					<td>{{ u.date_end }}</td>
					<td>
						<a data-toggle="modal" data-target="#edit-task-dialog" ng-click="initEdit()">编辑</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="dataTables_paginate paging_simple_numbers">
			<ul class="pagination pull-right">
				
				<li class="paginate_button" ng-repeat="p in pagination" ng-repeat="current">
					<a href="javascript:;" ng-class="{true: 'active', false: 'nothing'}[current==p]" data-current="{{p}}" ng-click="getPage($event.target)">{{ p }}</a>
				</li>
			</ul>
		</div>
	</div>
	
 	<div class="modal in" id="add-task-dialog" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">新建任务</h3>
	                </div>
	                <div class="block-content">
	                	<label>任务</label>
	                    <textarea class="todo-textarea form-control push-5" placeholder='详细' ng-model="add_task_content"></textarea>
	                    <label>时间</label>
	                    <input type="text" class="form-control push-10" type="text" id="date_start_task" placeholder="From" ng-model="add_date_start">
	                    <input type="text" class="form-control push-5" type="text" id="date_end_task" placeholder="To"ng-model="add_date_end">
	                    <label>指派给</label>
	                    <a ng-click="getEmployee()" data-toggle="modal" data-target="#show-tree">
	                    	<input placeholder="同事" ng-model="employee_name" class="form-control input-sm" type="text">
	                    </a>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button class="btn btn-sm btn-primary" type="button" ng-click="add($event.target)">添加</button>
	            </div>
	        </div>
	    </div>
	</div>

	<!-- 员工菜单 begin -->
    <div class="modal in" id="show-tree" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">请选择</h3>
	                </div>
	                <div class="block-content clearfix">
	                	<div id="tree-show" class="pull-left menu-tree">
						</div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button onclick="$(this).prev().trigger('click')" class="btn btn-sm btn-primary" type="button">确定</button>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- 员工菜单 end   -->

	<div class="modal in" id="edit-task-dialog" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">更新任务</h3>
	                </div>
	                <div class="block-content">
		                <label>任务内容</label>
		                <textarea class="todo-textarea form-control push-5" ng-model="edit_task_content">{{copytask}}</textarea>
		                <label>时间</label>
		                <input type="text" class="form-control push-5" type="text" id="date_start_task1" ng-model="add_date_start">
		                <input type="text" class="form-control push-5" type="text" id="date_end_task1" ng-model="add_date_end">
		                <!-- 指派给
		                <input ng-model="searchstr" class="form-control input-sm" id="accepter_name" type="text" search-employee-real-time>
		                <ul class="search-result" style="position:relative" id="active-ul">
			                <li ng-repeat="r in results" data-value="{{r.name}}" data-id="{{r.employee_id}}" sure-search-result-employee>
			                	{{ r.name }}
			            	</li>
		                </ul> -->
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button class="btn btn-sm btn-primary" type="button" ng-click="editTask($event.target)">更新</button>
	            </div>
	        </div>
	    </div>
	</div>

</div>

<script>
	laydate({
		elem: '#date_start_task',
	    format: 'YYYY-MM-DD',
	    min: laydate.now(), //设定最小日期为当前日期
	    max: '2099-06-16 23:59:59', //最大日期
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	          // date_end_task.min = datas; //开始日选好后，重置结束日的最小日期
	          // date_end_task.start = datas //将结束日的初始值设定为开始日
	    }
	});
	laydate({
		elem: '#date_end_task',
	    format: 'YYYY-MM-DD',
	    min: laydate.now(),
	    max: '2099-06-16 23:59:59',
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	        // start.max = datas; //结束日选好后，重置开始日的最大日期
	    }
	});
	laydate({
		elem: '#date_start_task1',
	    format: 'YYYY-MM-DD',
	    min: laydate.now(), //设定最小日期为当前日期
	    max: '2099-06-16 23:59:59', //最大日期
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	          // date_end_task.min = datas; //开始日选好后，重置结束日的最小日期
	          // date_end_task.start = datas //将结束日的初始值设定为开始日
	    }
	});
	laydate({
		elem: '#date_end_task1',
	    format: 'YYYY-MM-DD',
	    min: laydate.now(),
	    max: '2099-06-16 23:59:59',
	    istime: true,
	    istoday: false,
	    choose: function(datas){
	        // start.max = datas; //结束日选好后，重置开始日的最大日期
	    }
	});
</script>