<div class="row">
	
	<aside id="zside-overlay">
        <div id="side-overlay-scroll">
            <div class="side-header side-content">
                <button onclick="closeright()" class="btn btn-default pull-right" type="button" data-toggle="layout" data-action="side_overlay_close">
                    <i class="fa fa-times"></i>
                </button>
                <span>
                    <span class="font-w600 push-10-l">{{company}}</span>
                    <div class="push-10-l">{{name}}</div>
                </span>
            </div>
            <div class="side-content remove-padding-t">
                <div class="block pull-r-l">
                    <div class="block-header bg-gray-lighter">
                        <h3 class="block-title text-center">
                        	<button class="btn btn-minw btn-default" ng-click="getRecord($event.target)">历史跟踪记录</button>
                        </h3>
                        <ul class="list list-activity">
                    		<li ng-repeat="f in follow_record" class="record-list">
	                            <i class="fa fa-times push-2-t cursor" ng-click="deleteRecord(f.record_id,$event.target)"></i>
	                            <div class="font-w600">第{{ follow_record.length - $index }}次</div>
	                            <div><a href="javascript:void(0)">{{ f.create_time }}</a></div>
	                            <div><small class="text-muted">{{ f.content }}</small></div>
                            </li>
                        </ul>
                    </div>
                    <div class="block-content z-content">
                    	<div ng-if="opens.length > 0">
	                    	<p>已开通服务</p>
	                    	<ul class="list">
	                    		<li ng-repeat="p in opens" class="clearfix">
	                    			<span class="label label-primary">{{ p.name }}</span>
	                    			<div ng-if="p.progress_value != null" class="push-10-t">
		                    			<div class="progress active">
		                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{p.progress_value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{p.progress_value}}%">{{p.progress}}</div>
		                                </div>
	                                </div>
	                    		</li>
	                    	</ul>
                    	</div>
                    </div>
                </div>
            </div>
            <div class="toolbar">
            	<div class="push-10">
	            	<button class="btn btn-default" data-toggle="modal" data-target="#add-new-user">添加客户</button>
	            	<button class="btn btn-default" data-toggle="modal" data-target="#edit-guest">编辑客户</button>
	            	<button class="btn btn-default" ng-click="deleteGuest()">删除客户</button>
            	</div>
            	<div>
            		<button class="btn btn-default" data-toggle="modal" data-target="#add-guest-record">追踪记录</button>
	            	<button class="btn btn-default" ng-click="initBusiness()" data-toggle="modal" data-target="#add-business">工商业务</button>
	            	<button class="btn btn-default" data-toggle="modal" data-target="#add-account">代理记账</button>
            	</div>
            </div>
        </div>
    </aside>
	
	<div class="col-sm-12">
		<div class="clearfix push-10">
			<label class="css-input switch switch-sm switch-primary pull-left push-5">
		        只看自己<input type="checkbox" checked="checked"><span></span>
		    </label>
		    <div class="pull-left push-10-l rel">
		    	<input placeholder="姓名/电话" ng-model="searchstr" class="form-control input-sm" type="text" search-users-real-time>
		    	<ul class="search-result" id="active-ul">
		    		<li ng-repeat='r in results' data-value="{{r.name}}" data-id="{{ r.guest_id }}" sure-search-result>
		    			{{ r.name }}
		    		</li>
		    	</ul>
		    </div>

		    <div class="pull-left push-10-l rel call-date-control">
				<input type="text" class="form-control input-sm" placeholder="日期" ng-model="whole"/>
				<div class="date-select">
					<div class="date-year">
						<ul>
							<li ng-click="initYear($event.target)">2014</li>
							<li ng-click="initYear($event.target)">2015</li>
							<li ng-click="initYear($event.target)">2016</li>
						</ul>
					</div>
					<div class="date-month">
						<ul>
							<li><a ng-click="initMonth($event.target)">1</a></li>
							<li><a ng-click="initMonth($event.target)">2</a></li>
							<li><a ng-click="initMonth($event.target)">3</a></li>
							<li><a ng-click="initMonth($event.target)">4</a></li>
							<li><a ng-click="initMonth($event.target)">5</a></li>
							<li><a ng-click="initMonth($event.target)">6</a></li>
							<li><a ng-click="initMonth($event.target)">7</a></li>
							<li><a ng-click="initMonth($event.target)">8</a></li>
							<li><a ng-click="initMonth($event.target)">9</a></li>
							<li><a ng-click="initMonth($event.target)">10</a></li>
							<li><a ng-click="initMonth($event.target)">11</a></li>
							<li><a ng-click="initMonth($event.target)">12</a></li>
						</ul>
					</div>
				</div>
			</div>


		    <!-- <a ng-click="initResource()" class="pull-right btn btn-minw btn-square btn-info" data-toggle="modal" data-target="#add-new-user">新建客户</a> -->
	    </div>
		<table class="table table-bordered table-striped js-dataTable-full dataTable no-footer">
			<thead class="bg-gray-light">
				<th>公司</th>
				<th>姓名</th>
				<th>状态</th>
				<th>区</th>
				<th>手机</th>
				<th>跟进客服</th>
				<th>跟进记录</th>
			</thead>
			<tbody>
				<tr ng-click="initRight(u)" ng-repeat="u in guests">
					<td>{{ u.company }}</td>
					<td>{{ u.name }}</td>
					<td ng-switch="u.status">
						<span ng-switch-when="0">
						潜在客户
						</span>
						<span ng-switch-when="1">
						成交客户
						</span>
						<span ng-switch-when="2">
						流失客户
						</span>
					</td>
					<td>{{ u.a_name }}</td>
					<td>{{ u.phone }}</td>
					<td>{{ u.e_name }}</td>
					<td>{{ u.record_count }}</td>
				</tr>
			</tbody>
		</table>
		<div class="dataTables_paginate paging_simple_numbers">
			<ul class="pagination pull-right">
				<!--
				<li class="paginate_button previous disabled" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_previous"><a href="#"><i class="fa fa-angle-left"></i></a></li>
				<li class="paginate_button active" aria-controls="DataTables_Table_0" tabindex="0"><a href="#">1</a></li>
				<li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a href="#">2</a></li>
				<li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a href="#">3</a></li>
				<li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0"><a href="#">4</a></li>
				<li class="paginate_button next" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
				-->
				<li class="paginate_button" ng-repeat="p in pagination" ng-repeat="current">
					<a href="javascript:;" ng-class="{true: 'active', false: 'nothing'}[current==p]" data-current="{{p}}" ng-click="getPage($event.target)">{{ p }}</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 新建客户 begin-->
	<div class="modal in" id="add-new-user" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-mx">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">添加客户</h3>
	                </div>
	                <div class="block-content">
	                	<form class="form-horizontal" onsubmit="return false;">
	                		<div class="form-group">
	                            <label class="col-lg-3 control-label">公司</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="add_company">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">姓名</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="add_name">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">手机</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="add_phone">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">座机</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="add_tel">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">区</label>
	                            <div class="col-lg-7">
	                                <select class="form-control" request-area ng-model="add_area_id">
	                                	<option ng-repeat='area in areas' value="{{area.area_id}}">{{area.name}}</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">详细地址</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="add_address">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">客户来源</label>
	                            <div class="col-lg-7">
	                                <select class="form-control" ng-model="add_resource_id">
	                                	<option ng-repeat="r in resource" value="{{ r.resource_id }}">{{ r.description }}</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">职务</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="add_job">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">客户状态</label>
	                            <div class="col-lg-7">
	                                <select class="form-control" ng-model="add_status" ng-init="add_status=0">
	                                	<option value="0">潜在客户</option>
	                                	<option value="1">成交客户</option>
	                                	<option value="2">已流失</option>
	                                </select>
	                            </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="addGuest($event.target)" class="btn btn-sm btn-primary" type="button">添加</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 新建客户 end-->
	<!-- 跟进记录 begin-->
	<div class="modal in" id="add-guest-record" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-mx">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">添加纪录</h3>
	                </div>
	                <div class="block-content">
	                	<form class="form-horizontal" onsubmit="return false;">
	                		<div class="form-group">
	                           <textarea placeholder="详细记录" class="form-control" ng-model="add_record"></textarea>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="addRecord($event.target)" class="btn btn-sm btn-primary" type="button">添加</button>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- 跟进记录 end-->
	<!-- 编辑用户 begin -->
    <div class="modal in" id="edit-guest" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-mx">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">编辑用户</h3>
	                </div>
	                <div class="block-content">
	                	<form class="form-horizontal" onsubmit="return false;">
		                	<div class="form-group">
	                            <label class="col-lg-3 control-label">公司</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="edit_company">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">姓名</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="edit_name">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">手机</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="edit_phone">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">座机</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="edit_tel">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">区</label>
	                            <div class="col-lg-7">
	                                <select class="form-control" request-area ng-model="edit_area_id">
	                                	<option ng-repeat='area in areas' value="{{area.area_id}}">{{area.name}}</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">详细地址</label>
	                            <div class="col-lg-7">
	                                <input class="form-control" type="text" ng-model="edit_address">
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label class="col-lg-3 control-label">状态</label>
	                            <div class="col-lg-7">
	                                <select class="form-control" ng-model="edit_status">
	                                	<option value="0">潜在客户</option>
	                                	<option value="1">成交客户</option>
	                                	<option value="2">已流失</option>
	                                </select>
	                            </div>
	                        </div>
                        </form>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="editGuest($event.target)" class="btn btn-sm btn-primary" type="button"><i class="fa fa-check"></i>更新</button>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- 编辑用户 end -->
    <!-- 添加工商 begin -->
    <div class="modal in" id="add-business" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">添加工商</h3>
	                </div>
	                <div class="block-content">
	                	<form class="form-horizontal" onsubmit="return false;">
	                		<div class="form-group" style="padding:0 10px">
	                		   <label class="control-label">业务类型</label>
	                           <select class="form-control" ng-model="process_group_id">
	                           		<option ng-repeat="p in process_group" value="{{ p.process_group_id }}">{{ p.name }}</option>
	                           </select>
	                           <label class="control-label">对接会计</label>
	                           <div class="row">
		                           <div class="col-lg-6">
			                           <select class="form-control" ng-model="department_id" ng-change="requestEmployee()">
			                           		<option ng-repeat="d in department" value="{{ d.department_id }}">{{ d.name }}</option>
			                           </select>
			                       </div>
			                       <div class="col-lg-6">
			                           <select class="form-control" ng-model="employee_id">
			                           		<option ng-repeat="e in employee" value="{{ e.employee_id }}">{{ e.name }}</option>
			                           </select>
			                       </div>
		                       </div>
	                           <label class="control-label">应收款</label>
	                           <input class="form-control" ng-model="should_fee" />
	                           <label class="control-label">已收款</label>
	                           <input class="form-control" ng-model="have_fee" />
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="addBusiness($event.target)" class="btn btn-sm btn-primary" type="button"><i class="fa fa-check"></i>添加</button>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- 添加工商 end   -->
    <!-- 添加代理记账 begin -->
    <div class="modal in" id="add-account" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="block block-themed block-transparent remove-margin-b">
	                <div class="block-header bg-primary-dark">
	                    <ul class="block-options">
	                        <li>
	                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
	                        </li>
	                    </ul>
	                    <h3 class="block-title">添加代理记账</h3>
	                </div>
	                <div class="block-content">
	                	<form class="form-horizontal" onsubmit="return false;">
	                		<div class="form-group">
	                			<label>负责人</label>
	                           <div class="row">
		                           <div class="col-lg-6">
			                           <select class="form-control" ng-model="department_id" ng-change="requestEmployee()">
			                           		<option ng-repeat="d in department" value="{{ d.department_id }}">{{ d.name }}</option>
			                           </select>
			                       </div>
			                       <div class="col-lg-6">
			                           <select class="form-control" ng-model="accounting_employee_id">
			                           		<option ng-repeat="e in employee" value="{{ e.employee_id }}">{{ e.name }}</option>
			                           </select>
			                       </div>
		                       </div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
	                <button ng-click="addAccounting($event.target)" class="btn btn-sm btn-primary" type="button">添加</button>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- 添加代理记账 end   -->
</div>

